ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul li {
    float: left;
    width: 150px;
    height: 25px;
    background-color: grey;
    opacity: .8;
    line-height: 35px;
    text-align: center;
    font-size: 15px;
    margin-right: 0px;
    margin-button: 50px;
}
ul li a {
    text-decoration: none;
    color: white;
    display: block;
}
ul li a:hover {
    color: blue;
}
ul li ul li {
    display: none;
}
ul li:hover ul li {
    display: block;
}

a {
    margin-top: -4px;
}
