<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>NavBar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <script src="main.js"></script>
</head>
<body>
    <ul>
        <li><a href=".">Home</a></li>
        <li><a>Current Porject</a>
            <ul>
                <li><a>Our Team</a></li>
                <li><a href="collegeboard">Collegeboard</a></li>
                <li><a href="create">Create Task</a></li>
                <li><a href="timebox">Time Box</a></li>
            </ul>
        </li>
    </ul>
</body>
</html>
